<div id="category-tabs">
  <div class="col s12">
  <button class="btn active" onclick="filterSelection('All')"> All</button>
  <button class="btn-tabs" onclick="filterSelection('UX/UI')">UX/UI</button>
  <button class="btn-tabs" onclick="filterSelection('Cybersecurity')">Cybersecurity</button>
  <button class="btn-tabs" onclick="filterSelection('AI')">AI</button>
  <button class="btn-tabs" onclick="filterSelection('Web Development')">Web Development</button>
  <button class="btn-tabs" onclick="filterSelection('Blockchain')">Blockchain</button>
  </div>
</div>
