<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/create-resource.css" />


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,300&display=swap" rel="stylesheet">
<script src="/scripts/is-video.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
<%- include('partials/_header') %>


  <title>Create Resource</title>
</head>
<body>
  <h2>Create Resource</h2>
<div id="create-resource-container">

  <div class="file-field input-field">
    <div class="res-thumbnail">
      <div id="imagePreview"></div>
    </div>
    <input id="uploadFile" type="file" name="image" class="img" />

<form class="col s12" id="new-resource-form" method="POST" action="/resources/create">
<div class="category-dropdown">
  <div class="input-field col s12">
    <select name="category_id">
      <label>Categories</label>
      <option value="" disabled selected>Choose category</option>
      <option value="1" name="category_id">Web Development</option>
      <option value="2" name="category_id">UX/UI</option>
      <option value="3" name="category_id">Cybersecurity</option>
      <option value="4" name="category_id">AI</option>
      <option value="5" name="category_id">Blockchain</option>
    </select>
  </div>
</div>


  <div class="row">
    <div class="input-field col s12">
      <label for="title">Title</label>
      <input id="title" type="text" class="validate" name="title" required />
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <label for="description">Description</label>
      <input id="description" type="text" class="validate" name="description" required />
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <label for="url">URL</label>
      <input id="url" type="text" class="validate" name="url" required />
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <label for="media-url">Thumbnail-URL</label>
      <input id="media-url" type="text" class="validate" name="media_url" required />
    </div>
  </div>



  </div>
</form>
</div>
<button type="submit" name="create">
  Create
</button>

<a href="/">Back</a>
</body>
</html>
