<div id="create-resource">
  <div class="creator">
    <i class="fa-solid fa-circle-user"></i>
    <span>@username_handle</span>
  </div>
  <div class="res-thumbnail">
    <div id="imagePreview"></div>
<input id="uploadFile" type="file" name="image" class="img" />
  </div>

  <div class="res-content">
    <h3>Dream Job</h3>
    <a href="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0">//www.youtube.com/embed/Q8TXgCzxEnw?rel=0</a>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam recusandae amet commodi deleniti error voluptatem enim, non molestias nam dignissimos, eum possimus molestiae rerum voluptatibus modi reiciendis tenetur laudantium fugit!</p>
  </div>
  <div class="category-dropdown">
    <div class="input-field col s12">
      <select>
        <option value="" disabled selected>Choose category</option>
        <option value="1">UX/UI</option>
        <option value="2">Cybersecurity</option>
        <option value="3">AI</option>
        <option value="2">Web Development</option>
        <option value="3">Blockchain</option>
      </select>
      <label>Categories</label>
    </div>
  </div>
  <button>Create</button>
  </div>
</div>
</div>
