<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/create-resource.css" />


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,300&display=swap" rel="stylesheet">

<%- include('partials/_header') %>


  <title>Create Resource</title>
</head>
<body>
 <h1>Create Resource</h1>
<div id="create-resource-container">
  <div class="creator">
    <i class="fa-solid fa-circle-user"></i>
    <span>@username_handle</span>
  </div>

<form class="col s12" id="new-resource-form" method="POST" action="/create">
<div class="category-dropdown">
  <div class="input-field col s12">
    <select>
      <option value="" disabled selected>Choose category</option>
      <option value="1">Web Development</option>
      <option value="2">UX/UI</option>
      <option value="3">Cybersecurity</option>
      <option value="4">AI</option>
      <option value="5">Blockchain</option>
    </select>
    <label>Categories</label>
  </div>
</div>

  <div class="row">
    <div class="input-field col s12">
      <input id="title" type="text" class="validate" name="title" required />
      <label for="title">Title</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input id="description" type="text" class="validate" name="description" required />
      <label for="description">Description</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <input id="url" type="text" class="validate" name="url" required />
      <label for="url">URL</label>
    </div>
  </div>


  <div class="file-field input-field">
    <div class="res-thumbnail">
      <div id="imagePreview"></div>
      <input id="uploadFile" type="file" name="image" class="img" />
    </div>
    <!-- <div class="btn">
      <span>Upload thumbnail</span>
      <input type="file" name="thumbnail">
    </div> -->
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text">
    </div>
  </div>

  <div class="switch">
    <label>
      <input type="checkbox" name="is_video"/>
      <span class="lever"></span>
      Is it a video?
    </label>
  </div>

  <button type="submit" name="">
    Create
  </button>
</form>
<a href="/">Back</a>
</div>
</body>
</html>
