<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/resources.css"/>
  <link rel="stylesheet" href="/styles/my-resources.css" />


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,300&display=swap" rel="stylesheet">
<script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
<script src="/scripts/my-resources.js"></script>
<script src="/scripts/liked-resources.js"></script>

<!-- Materialize -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<!-- Materialize  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
  integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
  />


<%- include('partials/_header') %>


  <title>My Resources</title>
</head>
<body>
  <div class="myResources-wrapper">
    <h1>My Resources</h1>
    <div class="profile-info">
      <div class="grid-65">
        <img class="avatar" src="<%= user.profile_picture %>" alt="">
      </div>
    </div>
  </div>
  <span>@<%= user.username %></span>
  <div class="edit-btn">
    <a href="/api/users/<%=user.id%>">
      <button class="edit-btn" type="submit">Edit Profile</button>
    </a>

  </div>


  <div id="my-resources-container">
    <div id="createdResources-wrapper">
    </div>

    <div id="likedResources-wrapper">
    </div>
  </div>


  </div>

</body>
</html>





