<div class="myResources-wrapper">
  <div class="profile-info">
    <div class="grid-65">
      <span class="photo" title="Upload your profile picture"></span>
    </div>
    <span>@username_handle</span>
  </div>
  <button>Edit Profile</button>
<div class="res-toggle">
  <fieldset id="switch" class="radio">
    <input name="switch" id="on" type="radio">
    <label for="on">Liked</label>
    <input name="switch" id="off" type="radio">
    <label for="off">Saved</label>
  </fieldset>
</div>
<!-- <div id="resources-wrapper">

</div> -->

</div>

<!--
<div id="createdResources-wrapper">

</div>

<div id="likedResources-wrapper">

</div> -->
