<div id="resources-wrapper">

</div>

<!-- <div class="resource-containers">
  <div id="col s12 m4 l2">
    <div class="res-cards">
      <div class="res-image">
        <img src="assets/images/art.png">
        <span class="res-title">How To Get Dream Job</span>
        <a class="btn-floating halfway-fab waves-effect waves-light blue"><i class="material-icons">+</i></a>
      </div>
      <div class="res-content">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio veniam atque, nobis temporibus minus, itaque, quo accusantium est quod mollitia molestiae! Vitae ex dicta, quasi iusto cupiditate perferendis non soluta?</p>
      </div>
    </div>
  </div>
</div>

<div class="resource-containers">
  <div id="col s12 m4 l2">
    <div class="res-cards">
      <div class="res-image">
        <img src="assets/images/art.png">
        <span class="res-title">How To Get Dream Job</span>
        <a class="btn-floating halfway-fab waves-effect waves-light blue"><i class="material-icons">+</i></a>
      </div>
      <div class="res-content">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio veniam atque, nobis temporibus minus, itaque, quo accusantium est quod mollitia molestiae! Vitae ex dicta, quasi iusto cupiditate perferendis non soluta?</p>
      </div>
    </div>
  </div>
</div>

<div class="resource-containers">
  <div id="col s12 m4 l2">
    <div class="res-cards">
      <div class="res-image">
        <img src="assets/images/art.png">
        <span class="res-title">How To Get Dream Job</span>
        <a class="btn-floating halfway-fab waves-effect waves-light blue"><i class="material-icons">+</i></a>
      </div>
      <div class="res-content">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio veniam atque, nobis temporibus minus, itaque, quo accusantium est quod mollitia molestiae! Vitae ex dicta, quasi iusto cupiditate perferendis non soluta?</p>
      </div>
    </div>
  </div>
</div> -->
