<!-- Creating modals for resource details  -->

<div id="resource-modal" class="modal hidden">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="res-details">
      <span>Title</span>
      <div class="video-container">
        <iframe width="853" height="480" src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
      <a href=""> URL </a>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim animi
        atque, fugit doloremque nulla hic voluptas earum eveniet, nihil
        molestias debitis modi eos ab sequi minima vero quas deleniti nobis.
      </p>
    </div>

    <!-- Upload img thumbnail (https://codepen.io/aertmann/pen/mrVaPx)
    (https://www.tutorialswebsite.com/topics/jquery-to-show-image-thumbnail-before-upload/) -->
    <!-- <div class="upload-img">
      <input type="file" accept=".jpg,.jpeg.,.gif,.png,.mov,.mp4" />
      <p>
        <strong>Select a video or image file</strong><br /><br />Supported
        browsers (tested): Chrome, Firefox, Safari, Opera, IE10, IE11, Android
        (Chrome), iOS Safari (10+)
      </p>

<article class="tweets" >
<header class="tweet-header" >
  <div class="tweet-headerProfile">
  <img src='${tweet.user.avatars}'>
    <label class="tweet-username" > ${tweet.user.name} </label>
  </div>
  <label class="tweet-handle" >
   ${tweet.user.handle}
  </label>
</header>
<span class="tweet-body">
 ${escape(tweet.content.text)}
</span>
<footer class="tweet-footerIcons" >
  <label class="tweet-time">
    ${timeago.format(tweet.created_at)}
  </label>
  <div >
    <i class="fa-solid fa-flag"></i>
    <i class="fa-solid fa-retweet"></i>
    <i class="fa-solid fa-heart"></i>
  </div>
</footer>
</article>


    </div> -->


  </div>
</div>

<!-- Making Cards -->

<!-- Trigger/Open The Modal -->
<button id="myBtn">Open Modal</button>

<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Some text in the Modal..</p>
  </div>
</div>

<!-- <div id="UX/UI" class="category-content">
  <div class="col2 filterDiv UX/UI" id="cardImage1">


          <h2 class="res-category">UX/UI</h2>
          <img class="res-image"></img>
          <p class="res-description"></p>
          <p class="res-url"></p>

          <form action="resources-details.ejs">
              <button class="btn-more">Read More</button>
          </form>

      </div>
  </div> -->
