.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #3B6492;
  color: #ffffff;
  height: 120px;
  width: 100%;
  padding-left: 1.5em;
  padding-right: 1.5em;
  position: absolute;
  top: 0;
}


.home-logo{
  display:flex;
  align-items: center;
  font-family: 'Anton', sans-serif;
  font-size: 60px;
}


.logo {
  width: 100px;
  width: 80px;
  margin-right: 15px;
}

.search-bar {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  width: 715px;
 }

 #input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: .3s ease;
 }

 #input::placeholder {
  color: #9e9ea7;
 }

 #input:focus, input:hover {
  outline: none;
  border-color: rgba(234,76,137,0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
 }

 .search-icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
 }


 /*
 Add features to search button I like
 .input {
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  background: #e8e8e8;
  box-shadow: 20px 20px 60px #c5c5c5,
     -20px -20px 60px #ffffff;
  transition: 0.3s;
 }

 .input:focus {
  outline-color: #e8e8e8;
  background: #e8e8e8;
  box-shadow: inset 20px 20px 60px #c5c5c5,
     inset -20px -20px 60px #ffffff;
  transition: 0.3s;
 } */


 button {
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all .3s;
  box-shadow: 1px 1px 12px #c5c5c5, -1px -1px 4px #ffffff;
}

button:hover {
  border: 1px solid white;
}

button:active {
  box-shadow: 4px 4px 12px #c5c5c5,
             -4px -4px 12px #ffffff;
}

#category-tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #6C8FAB;

  color: #ffffff;
  height: 85px;
  width: 100%;
  padding-left: 1.5em;
  padding-right: 1.5em;
  position: absolute;
  margin-bottom: 58em;
}

.col {
  display: contents;
}
